:root {
    --header-height: -60px;
}

button {
    align-self: flex-start;
}

#welcome-link {
    text-decoration: none;
}

#welcome-button:hover {
    background-color: #00f;
    border: 1px solid #00f;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;

    transition: background-color 0.3s ease;
}

#colour-box {
    background-color: #f00;
    width: 100px;
    height: 100px;
    cursor: pointer;

    transition: background-color 0.5s ease;
}

#image {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#image img {
    width: 100px;
    cursor: pointer;

    transition: transform 0.5s ease;
}

#class-name {
    display: flex;
    flex-direction: column;
}

#class-name-show {
    width: 100px;
    height: 100px;
    background-color: #f00;
    display: inline-block;
}

#class-name-show.class-box {
    width: 50px;
    height: 50px;
    background-color: #00f;
}

#slider-image, #slider-time-image {
    width: 100px;
    cursor: pointer;
}

#slider-content, #slider-time-content {
    width: 100px;
    text-align: center;
}

.slider-list, .slider-time-list, #tab-list li, #tab-show li {
    width: 100px;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 0;
    list-style: none;
}

.slider-list li, .slider-time-list li {
    width: 12px;
    height: 12px;
    background-color: gray;
    opacity: 0.3;
    border-radius: 50%;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.slider-list li.active, .slider-time-list li.time-active {
    background-color: black;
    opacity: 1;
}

#faker label, #event-key-show {
    display: flex;
    flex-direction: column;
}

.avatar {
    width: 100px;
}

#tab-list, #tab-show {
    display: flex;
    flex-direction: row;
}

.tab-list-active {
    color: #f00;
    font-weight: bold;
    text-decoration: underline;
}

#tab-show li img {
    width: 100px;
    cursor: pointer;
}

#main {
    overflow: scroll;
    height: 900px;
}

#top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    display: none; /* Hide the button by default */
}

#header {
    position: fixed;
    width: 100%;
    height: 60px;
    top: var(--header-height);
    background-color: black;
    transition: top 0.3s ease;
}